<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--App looks for time(ms) between pairs-->
    <add key="Pair 1.1" value="&amp;lt;0100&amp;gt;"/>
    <add key="Pair 1.2" value="&amp;lt;request&amp;gt;"/>
    
    <add key="Pair 2.1" value="&amp;lt;response&amp;gt;"/>
    <add key="Pair 2.2" value="&amp;lt;0110&amp;gt;"/>
    
    <add key="Pair 3.1" value="&amp;lt;0200&amp;gt;"/>
    <add key="Pair 3.2" value="&amp;lt;request&amp;gt;"/>
    
    <add key="Pair 4.1" value="&amp;lt;response&amp;gt;"/>
    <add key="Pair 4.2" value="&amp;lt;0210&amp;gt;"/>
    
    <!--If MessageForward == 2, app will look for a matching message in the next 2 entries-->
    <add key="MessageForward" value="2"/>
  
    
    <!--ORIGINAL CONFIG-->
    <!--<add key="Pair 1.1" value="&amp;lt;0100&amp;gt;"/>
    <add key="Pair 1.2" value="&amp;lt;request&amp;gt;"/>
    
    <add key="Pair 2.1" value="&amp;lt;response&amp;gt;"/>
    <add key="Pair 2.2" value="&amp;lt;0110&amp;gt;"/>
    
    <add key="Pair 3.1" value="&amp;lt;0200&amp;gt;"/>
    <add key="Pair 3.2" value="&amp;lt;request&amp;gt;"/>
    
    <add key="Pair 4.1" value="&amp;lt;response&amp;gt;"/>
    <add key="Pair 4.2" value="&amp;lt;0210&amp;gt;"/>-->
  
  </appSettings>
</configuration>
